            </div>
            <script id="initial-props" type="text/plain" data-json={{initialProps}}></script>
        </div>
      </section>
      {%include "footer.html" %}
    </div>
      
      
  </body>
  
</html>

<script src="/public/js/tenants/react-web-client/2.fe913ef4.chunk.js" defer></script>
<script src="/public/js/tenants/react-web-client/main.3793551a.chunk.js" defer></script>
<script src="/public/js/tenants/react-web-client/runtime-main.c741a3e3.js" defer></script>

<!--link href="/public/css/main.dfca195d.chunk.css" rel="stylesheet" defer-->

