            </div>
            <script id="initial-props" type="text/plain" data-json={{initialProps}}></script>
        </div>
      </section>
      {%include "footer.html" %}
    </div>
      
      
  </body>
  
</html>

<script src="/public/js/users/react-web-client/0.f0e3db98.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/3.ee19b454.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/4.62078cc5.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/5.91b92af2.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/6.8bbafad4.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/7.6bff04df.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/8.df47dd65.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/main.56aebb96.chunk.js" defer></script>
<script src="/public/js/users/react-web-client/runtime-main.4eb25400.js" defer></script>



<!--link href="/public/css/main.dfca195d.chunk.css" rel="stylesheet" defer-->

