{% extends "base.html" %}
{% block body %}
{%include "navigation.html"%}
<section class="section" style="flex: 1;">
    <div class="container">
        <h3 class="title is-3">{{title}}</h3>
    </div>
    
    <section class="section">

        <div id="notification" class="notification container {{notificationVisibility}} animated slideInUp">
            <button class="delete"></button>
            <div id="notificationMessage">
                {{notificationMessage}}
            </div>
        </div>

        {% if sendForm %}
            
            <form id="resetPasswordForm" action="{{returnUrl}}" method="POST">
                <fieldset id="resetPasswordFromFieldSet" class="container">
                    <div class="field">
                        <label class="label">New Password</label>
                        <div class="control has-icons-right">
                            <input class="input" id="password" name="password" type="password" placeholder="New password" required>
                            <span class="is-clickable-icon icon  is-small is-right toggle-password-view">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                        
                    </div>
                    <div class="field">
                        <label class="label">Confirm Password</label>
                        <div class="control has-icons-right">
                            <input class="input" id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm password" required>
                            <span class="is-clickable-icon icon  is-small is-right toggle-confirmPassword-view">
                                <i class="fas fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" id="submitResetPasswordForm" class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button is-text">Clear</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        {% endif %}

    </section>
    
</section>
{%include "footer.html"%}
<script>
    //scripts to compare and validate password and passwordConfirm using HTML5 custom validity
    const password = document.getElementById("password");
    const passwordConfirm = document.getElementById("passwordConfirm");
    const validatePassword = () => {
        if(password.value != passwordConfirm.value) {
            passwordConfirm.setCustomValidity("Passwords do not match");
        } else {
            passwordConfirm.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    passwordConfirm.onkeyup = validatePassword;

    //prepare the password view toggle
    const togglePasswordView = document.querySelector('.toggle-password-view');
    togglePasswordView.onmousedown = () => {
        password.setAttribute("type", "text");
    }
    togglePasswordView.onmouseup = () => {
        password.setAttribute("type", "password");
    }

    const toggleConfirmPasswordView = document.querySelector('.toggle-confirmPassword-view');
    toggleConfirmPasswordView.onmousedown = () => {
        passwordConfirm.setAttribute("type", "text");
    }
    toggleConfirmPasswordView.onmouseup = () => {
        passwordConfirm.setAttribute("type", "password");
    }

</script>


{% endblock %}